@{
    ViewData["Title"] = "Администраторски панел";
}

<h1>Администраторски панел</h1>

<ul>
    <li><a asp-controller="Books" asp-action="Index">Управление на книги</a></li>
    <li><a asp-controller="LibraryUsers" asp-action="Index">Управление на потребители</a></li>
    <li><a asp-controller="Borrowings" asp-action="Index">Заемани книги</a></li>
    <li><a asp-controller="LoginHistory" asp-action="Index">История на влизанията</a></li>
</ul>

<form asp-area="Identity" asp-page="/Account/Logout" method="post" style="display:inline;">
    <button type="submit" class="btn btn-danger">Изход</button>
</form>
